@font-face {
    font-family: 'Panchang-Medium';
    src: url('../fonts/OTF/Panchang-Medium.oft') format('woff2'),
         url('../fonts/Panchang-Medium.woff') format('woff'),
         url('../fonts/Panchang-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    cursor: url("img/crosshair3.png") 24 24, auto;
   
}

html, body {

    --border-radius: 100px;

    margin: 5;
    padding: 5;
    background: black;
    color: white;
    font-size: 30px;
    font-family: 'Panchang-Medium', sans-serif;

}

section {
    width: 100%;
    height: 100vh;
}

 nav {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    font-size: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


nav ul li {
    list-style: none;
    margin-left: 100px;
}

nav ul li a {
    color: white;
    font-family: monospace;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 60px;
    margin: 0;
}

h3 {
    font-size: 16px;
    margin: 0;
}

h4 {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 20px; 
    margin-right: 100px;
    
}

a {
    color: white;
    text-decoration: none;
    font-family: monospace;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    top: 100px;
    z-index: 2;
}

section.sticky {
    position: sticky;
    margin-top: 100px;

}

section.full-screen {
    height: 100vh;
    top: 0;
    margin-top: 0;
    z-index: 3;
}

section.about article {
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 3.25vw;
}

section.about article .title {
    flex: 2;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 3.125vw;
}

section.about article .title h3 {
    align-items: end;
}

section.about article .description {
    flex: 2;
    display: flex;
    align-items: center;
    background: black;
    border-radius: var(--border-radius);
    padding: 2.25vw;
    color: white;
    
}

section.empty article h1 {
    margin-left: 45px;
    list-style: none;
}

/* ANIMATIONS */

section.services figure img {
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.77,.28,.42,.93);
}

section.services{
    filter: invert(0);
    transition: filter 5s;
}

section.services:has(figure img:hover) {
    filter: invert(1);
    cursor: url("img/crosshair4.png") 24 24, auto;
}


@keyframes float {
    0% {
        transform: translateY(-20px);
    
    }
    100% {
        transform: translateY(20px);
    }
}

section.services article {
    display: flex;
    width: 100%;
}

section.services figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56.25vw;
    margin: 0;
    background:black;
    border-radius: var(--border-radius);
}


section.services .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 43.75vw;
    background: black;
    padding: 3.125vw;
    border-radius: var(--border-radius);
}

section.services h4 {
    font-size: 20px;
    opacity: 0;
    transition: opacity 4s ease-in-out;
    
}

section.services:has(figure img:hover) h4{
    opacity: 1;
}

/* Parent inverts ONLY when image hovered */
section.services:has(figure img:hover) {
    
    filter: invert(1);
    
}

section.contact {
    position: bottom;
    margin-left: 100px;
    flex: 1;
    display: flex;
   
    border-radius: var(--border-radius);
    padding: 3.25vw;
}

section.services figure img:hover {
    cursor: url("img/crosshair4.png") 24 24, auto;
    transition: 5s ease-in-out;
}
